:root {
    --primary-color: #004B8D;
    --accent-color: #F97316;
    --secondary-color: #0EA5E9;
   
    --text-color: #333333;
    --white-color: #FAFAFA;
}


.navbar {
    background-color: var(--primary-color);
}


.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-primary:hover {
    background-color: var(--secondary-color);
}


.section-bg {
    background-color: var(--background-color);
}


body {
    color: var(--text-color);
    background-color: var(--white-color);
}
